body{
    font-family: "montserrat";
    background-color: rgb(199, 20, 50);

}

#title h1{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bolder;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Download Button */
.download-button{
    margin: 5% 3% 5% 0;
}

.iphone6{
    width: 60%;
    transform: rotate(15deg);
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
    
}

.icon:hover{
    color: #ff4c68;
}

.white{
    background-color: white;
}

.container-fluid{
    text-align: center;
    padding:  3% 15% 7%;
}

#features{
    position: relative;
}

.feature-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-box{
    padding: 5%;
}

@media (max-width: 768px) {
    .iphone6{
        transform: rotate(0deg);
    }
}

p{
    color: #8f8f8f;
}

.work{
    width:20rem ;
}
